<div class="contents row">
  <div class="content_post" style="" >
    <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_post_path(@post.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', post_path(@post.id), method: :delete %>
        </li>
      </ul>
    </div>
    <table class="detail-table">
     <tbody>
       <tr>
         <th class="detail-item">症状</th>
         <td class="detail-value"><%= @post.user.nickname %></td>
       </tr>
       <tr>
         <th class="detail-item">アドバイス内容</th>
         <td class="detail-value"><%= @post.advice.name %></td>
       </tr>
       <tr>
         <th class="detail-item">相談先</th>
         <td class="detail-value"><%= @post.onset_time.name %></td>
       </tr>
       <tr>
         <th class="detail-item">Dr.Parentsと共有したい事</th>
         <td class="detail-value"><%= @post.text %></td>
       </tr>
       <tr>
         <th class="detail-item">年齢</th>
         <td class="detail-value"><%= "#{@post.child_age}才" %></td>
       </tr>
       <tr>
         <th class="detail-item">就園状況</th>
         <td class="detail-value"><%= @post.enrollment_status.name %></td>
       </tr>
      </tbody>
    </table>
  </div>
    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>